<h1>Login</h1>
<br>
<form method="POST" action="signin">

    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <a href="search">Cancel</a>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </div>

</form>