<head><link rel="stylesheet" href="../css/signup.css"></head>
<div class="container" id="body">
    <h1>STOCKFINDER</h1>
    <div id="signupForm">
        <h2>Create Account</h2>
        <br>
        <form method="post" action="signup">
            <div class="container">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input class="form-control" type="text" name="username">
                </div>
                <br>
                <div class="mb-3">
                    <label class="form-label">Email Address</label>
                    <input class="form-control" type="email" name="emailAddress">
                </div>
                <br>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control" type="password" name="password">
                </div>
                <br>
                <div id="signupContainer">
                    <a href="home">Cancel</a>
                    <button class="btn btn-primary" type="submit">Sign Up!</button>
                </div>
            </div>
        </form>
    </div>
</div>