body {
    text-align: center;
}

#bodyHeader {
    width: 50%;
    border-bottom: 1px solid white;
    margin: 0 auto;
    display: flex;
}

#stocksFollowed {
    width: 95%;
    margin: 0 auto;
}

.right {
    /* position: relative; */
}

#profileControls {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    /* position:absolute; */
    /* bottom: 0px; */
}