body {
    text-align: center;
}

select {
    width: 80%;
    height: 100%;
    font-size: 0.8rem !important;
}

#bodyHeader {
    width: 50%;
    border-bottom: 1px solid white;
    margin: 0 auto;
    display: flex;
    height: 50px;
    align-items: center;
}

form {
    display: flex;
    height: 100%;
    gap: 20px;
    margin-bottom: 10px;
}

button {
    height: 100%;
    font-size: 0.8rem !important;
}

#searchWindow {
    height: 30px;
}

#searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#profileControls, #userRank {
    display: flex;
    justify-content:space-evenly;
    height: 100%;
    align-items: center;
}

#stocksFollowed {
    width: 95%;
    margin: 0 auto;
}

