#searchWindow {
    /* height: 40vh; */
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    /* margin-top: 20vh; */
    margin-bottom: 5vh;
    justify-content: center;
    align-items: center;
}

#searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    height: 3vw;
    min-height: 30px;
    width: 80%;
    font-size: 1.5vw;
}

button {
    height: 3.5vw;
    min-height: 35px;
    width: 20%;
    min-width: 50px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.opacity20 {
    opacity: 0.2;
}
